*{
    padding: 0;
    margin: 0;
}
body{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url(img/papelverjurado.jpg);
    font-family: 'Raleway', sans-serif;

}
h1{
    text-align: center;
}
h1, h2{
    color: darkred;
    font-family: 'Baloo Bhaijaan';
    padding: .5em;
    
}
#datos{
    width: 25%;
}
#texto{
    width: 75%;
}
#datos, #texto{
    float: left;
    padding: 0;
    margin: 0;
}
.trespartes{
    padding: 1em;
    list-style: none;
}
.trespartes li{
/*    float: left;*/
    width: 30%; /*para hacer las tres columnas teniendo en cuenta el 100% que seria del 25% de datos y el 75% de contenido*/
    display: inline-block;
    vertical-align: top;
    
}
@media (max-width: 470px){
    body{
        width: 90%;
    }
    .trespartes li{
        display: block;
        width: 100%;
    }
    
}
    @media print{
        body{
            color: darkgrey;
        }
        h1, h2{
            color: darkgrey;
        }
}
